<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gimrob</title>
  <link rel="stylesheet" href="C:\Users\CC10\Downloads\Module\Login\CSS\style.css" />
</head>
<body Background="C:\Users\CC10\Downloads\Module\Login\Views\fondo.jpg" style="background-size: cover;">

  <div class="background">
    <div class="overlay">
      <div class="login-container">
        <h1 class="title">Gimrob</h1>
        <h2>Iniciar Sesión</h2>
        <form id="loginForm">
          <input type="text" id="username" placeholder="Usuario" required />
          <input type="password" id="password" placeholder="Contraseña" required />
          <button type="submit">Entrar</button>
          <p id="message"></p>
        </form>
      </div>
    </div>
  </div>
  <script src="C:\Users\CC10\Downloads\Module\Login\JS\main.js"></script>
</body>
</html>

